version: "3.8"

services:
  # Frontend Servisi
  client:
    build: ./client
    ports:
      - "8080:80" # Tarayıcıdan localhost:8080 ile erişeceğiz
    depends_on:
      - server

  # Backend Servisi
  server:
    build: ./server
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - PORT=3000
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=tiny_pm
      - DB_USER=postgres
      - DB_PASS=${DB_PASS}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=${JWT_SECRET}

  # Redis Cache Service
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  # Database Service
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_DB=tiny_pm
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${DB_PASS}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
